html {
    font-size: 100%;
  }
  body {
    color: #2B2A27;
    font-family: Arial, Hiragino Sans, Meiryo, sans-serif;
  }
  img {
    max-width: 100%;
  }
  li {
    list-style: none;
  }

  /*----------------------------
  mainvisurar
  ------------------------------*/

  .mainvisual {
    margin-bottom: -5px;
    img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    }
  }

  #recipedaiary {
    padding: 80px 0;
    margin: 0 auto;
    max-width: 574px;
    text-align: center;
    h1 {
      margin-left: -2px;
      margin-bottom: 15px;
      font-size: 2rem;
    }
  }

  .explanation {
    .text1 {
      margin-left: -14px;
    }
  }

  .foodphot {
    margin-top: -5px;
    margin-bottom: 62px;
    ul {
        display: flex;
        height: 500px;
        overflow: hidden
    }
    img {
        flex: 1;
        object-fit: cover;
    }
  }
  
  .recipe-list {
    width: 232px;
    height: 50px;
    border: 1px solid #2B2A27;
    text-align: center;
    line-height: 49px;
    margin: 0px auto 10px auto;
    a {
        font-size: 0.875rem;
        color: #2B2A27;
        text-decoration: none;
        display: block;
    }
  }

  .link {
    margin-top: 96px;
    ul {
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
            margin: 0 10px;
            color: #2B2A27;
            font-size: 0.750rem;
            border-bottom: 1px solid;
        }
    }
  }
  footer {
    p {
        color: #2B2A27;
        font-size: 0.750rem;
        text-align: center;
        margin: 20px 0;
    }
  }

  @media (max-width:834px) { 
    
    .mainvisual {
      img {
      height: 600px;
      object-fit: cover;
    }
    }
    #recipedaiary {
      h1 {
        margin-left:  0;
      }
    }
    .explanation {
      padding: 0 28px;
      .text2 {

      }
    }

    .foodphot {
      ul {
        display: flex;
        flex-wrap: wrap;
        height: auto;
      }
      li {
        height: 500px;
      }
      img {
        vertical-align: bottom;
      }
    }
  }