html {
  font-size: 100%;
}

body {
  color: #2B2A27;
  font-family: Arial, Hiragino Sans, Meiryo, sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*----------------------------
mainvisurar
------------------------------*/
.mainvisual {
  margin-bottom: -5px;
}
.mainvisual img {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#recipedaiary {
  padding: 80px 0;
  margin: 0 auto;
  max-width: 574px;
  text-align: center;
}
#recipedaiary h1 {
  margin-left: -2px;
  margin-bottom: 15px;
  font-size: 2rem;
}

.explanation .text1 {
  margin-left: -14px;
}

.foodphot {
  margin-top: -5px;
  margin-bottom: 62px;
}
.foodphot ul {
  display: flex;
  height: 500px;
  overflow: hidden;
}
.foodphot img {
  flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipe-list {
  width: 232px;
  height: 50px;
  border: 1px solid #2B2A27;
  text-align: center;
  line-height: 49px;
  margin: 0px auto 10px auto;
}
.recipe-list a {
  font-size: 0.875rem;
  color: #2B2A27;
  text-decoration: none;
  display: block;
}

.link {
  margin-top: 96px;
}
.link ul {
  display: flex;
  justify-content: center;
}
.link ul a {
  text-decoration: none;
  margin: 0 10px;
  color: #2B2A27;
  font-size: 0.75rem;
  border-bottom: 1px solid;
}

footer p {
  color: #2B2A27;
  font-size: 0.75rem;
  text-align: center;
  margin: 20px 0;
}

/*--------------------------------------
recipe
--------------------------------------*/
.recipe-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.recipetable {
  width: 50%;
}
.recipetable img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

#cookingabout {
  width: 50%;
  padding: 34px 4.7% 34px 5%;
}
#cookingabout h1 {
  font-size: 28px;
  margin-bottom: 8px;
}
#cookingabout p {
  margin-bottom: 32px;
  padding-right: 10px;
}

.item1 {
  margin-bottom: 31px;
}
.item1 h2 {
  margin-bottom: 22px;
  border-bottom: 1px solid #CCCCCC;
  font-size: 1.25rem;
}
.item1 dl {
  display: flex;
  flex-wrap: wrap;
  line-height: 15px;
}
.item1 dd {
  width: 85%;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 7px;
  padding-bottom: 5px;
}
.item1 dt {
  width: 15%;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 7px;
  padding-bottom: 5px;
  text-align: right;
}

.item2 h2 {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 21px;
  font-size: 1.25rem;
  line-height: 26.6px;
}
.item2 ol {
  line-height: 16px;
}
.item2 li {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 7px;
  padding-bottom: 5px;
  list-style-type: decimal;
  margin-left: 17px;
}

/*-----------------------------------
responsive
-----------------------------------*/
@media (max-width: 834px) {
  .mainvisual img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #recipedaiary h1 {
    margin-left: 0;
  }
  .explanation {
    padding: 0 28px;
  }
  .foodphot ul {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .foodphot li {
    height: 500px;
  }
  .foodphot img {
    vertical-align: bottom;
  }
  .container {
    flex-direction: column;
  }
  .recipetable {
    width: 100%;
  }
  #cookingabout {
    width: 100%;
  }
  .item1 dd {
    width: 90%;
  }
  .item1 dt {
    width: 10%;
  }
  /*-----------------------------------
  responsive-recipe
  -----------------------------------*/
  .recipe-container {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .recipetable img {
    height: auto;
  }
  #cookingabout p {
    padding-right: 1px;
  }
  .item1 dd {
    width: 92%;
  }
  .item1 dt {
    width: 8%;
  }
  footer p {
    margin: 19px 0;
  }
}/*# sourceMappingURL=style.css.map */